# Ignore everything in the entire repository...
**
*

# ...Except the required directories
!backend/
!backend/**
!frontend/
!frontend/**
!LocaLe.EscrowApi.Tests/
!LocaLe.EscrowApi.Tests/**

# Standard git and IDE excludes
.git/
.VSCode/
.vs/
.env

# Also exclude compiled items explicitly
backend/bin/
backend/obj/
backend/.env
frontend/node_modules/
LocaLe.EscrowApi.Tests/bin/
LocaLe.EscrowApi.Tests/obj/
